.return-btn {
    background: #4E4E4E;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
}

.return-icon {
    width: 30px;
}