.game-wrapper {
    margin-top: 3rem;
}

.game-board {
    /* border: red 2px solid; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.random-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 100px;
}

.timer-text {
    /* position: absolute;
    top: 15px;
    right: 35px; */
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.difficulty-text {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;
}

.win-text {
    position: absolute;
    top: 10px;
    right: 10px;
}