.game-board {
    /* border: red 2px solid; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.random-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 100px;
}

.timer-text {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.difficulty-text {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.15rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.win-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn-cnt {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width: 415px) {
    .btn-cnt {
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* .board-btn:nth-child(n+2) {
    margin-left: 1rem;
} */